<div class="issuer-form !mx-24 !max-w-full">
  <form [formGroup]="issuerForm" (ngSubmit)="onSubmit()">
    <mat-card class="!bg-transparent !border-none !shadow-none !w-full">
      <mat-card-title class="!text-start"
        >Create Credential Template</mat-card-title
      >
      <mat-form-field>
        <mat-label>Template Name</mat-label>
        <input matInput formControlName="templateName" />
      </mat-form-field>

      <div
        class="!grid !grid-cols-1 md:!grid-cols-2 2xl:!grid-cols-3 gap-4 !w-full"
        formArrayName="credentialClaims"
      >
        <div
          *ngFor="let claim of credentialClaims.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-card class="!mb-0">
            <mat-card-title>Claim {{ i + 1 }}</mat-card-title>
            <mat-form-field>
              <mat-label>Claim Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <div formArrayName="localizedClaimNames">
              <div
                *ngFor="
                  let locName of getLocalizedClaimNames(claim).controls;
                  let j = index
                "
                [formGroupName]="j"
              >
                <mat-form-field>
                  <mat-label>Localized Claim Name</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Locale</mat-label>
                  <input matInput formControlName="locale" />
                </mat-form-field>
                <div class="button-group">
                  <button
                    mat-button
                    type="button"
                    (click)="removeLocalizedClaimName(i, j)"
                  >
                    Delete
                  </button>
                </div>
              </div>
              <div class="button-group">
                <button
                  mat-button
                  type="button"
                  (click)="addLocalizedClaimName(i)"
                >
                  Add Localized Claim Name
                </button>
              </div>
            </div>
            <mat-checkbox formControlName="selectivelyDisclosed"
              >Selectively Disclosed</mat-checkbox
            >
            <div formGroupName="schema">
              <mat-form-field>
                <mat-label>Schema Type</mat-label>
                <input matInput formControlName="type" />
              </mat-form-field>
            </div>
            <div class="button-group">
              <button mat-button type="button" (click)="removeClaim(i)">
                Delete Claim
              </button>
            </div>
          </mat-card>
        </div>
        <!-- <div class="button-group">
          <button mat-button type="button" (click)="addClaim()">
            Add Claim
          </button>
        </div> -->
        <div
          (click)="addClaim()"
          class="cursor-pointer h-[740px] w-full border-[1px] border-gray-300 shadow-sm flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"
            ></path>
          </svg>
        </div>
      </div>

      <div class="mt-12" formGroupName="visualRepresentation">
        <mat-card>
          <mat-card-title>Visual Representation</mat-card-title>
          <mat-form-field>
            <mat-label>Visual Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Locale</mat-label>
            <input matInput formControlName="locale" />
          </mat-form-field>
          <div formGroupName="logo">
            <mat-form-field>
              <mat-label>Logo URI</mat-label>
              <input matInput formControlName="uri" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Logo Alt Text</mat-label>
              <input matInput formControlName="altText" />
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Background Color</mat-label>
            <input matInput formControlName="backgroundColor" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Text Color</mat-label>
            <input matInput formControlName="textColor" />
          </mat-form-field>
        </mat-card>
      </div>

      <div class="w-full flex items-center justify-end">
        <button
          class="!w-[calc(33%-4px)]"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Submit
        </button>
      </div>
    </mat-card>
  </form>
</div>
