@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.success-snackbar {
    background-color: #4caf50 !important; /* Green for success */
    color: #fff !important;
  }
  
  .error-snackbar {
    background-color: #f44336 !important; /* Red for error */
    color: #fff !important;
  }
  